.app-footer {
    display: flex;
    align-items: center;
    
    height: 5vh;
    font-family: 'Edu VIC WA NT Beginner', cursive;
    padding: 10px;
    background-color: rgb(245, 227, 227);
    color: rgb(159, 157, 158);
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.25) 0px -8px 10px 0px;
}
.app-footer p {
    margin-left: 45vw;
    margin-top: 10px;
    font-size: 20px;
}