.app-footer {
    display: flex;
    align-items: center;
    
    height: 5vh;
    
    padding: 10px;
    background-color: lightcoral;
    color: rgb(64, 134, 175);
    box-shadow: rgba(0, 0, 0, 0.25) 0px -8px 10px 0px;
}
.app-footer p {
    margin-left: 45vw;
    margin-top: 10px;
    font-size: 20px;
}