.notes-container {
  margin: auto;
  width: 1400px;
  columns: 4 220px;
  column-width: 220px;

  column-gap: 2em;
  /* background-color: aquamarine; */
}

.btn-delete,
.btn-color {
  border: none;
  background-color: rgba(240, 248, 255, 0);
}

.btns-section {
  display: flex;
}

.note-preview .btn-delete,
.note-preview .btn-color {
  opacity: 0;
  transition: opacity 0.5s;
}

.note-preview:hover .btn-delete,
.note-preview:hover .btn-color {
  opacity: 1;
}


@media(max-width: 1720px) {
  .notes-container {
    /* background-color: rgb(32, 109, 83); */
    columns: 3 220px;
    column-gap: 20px;
    width: 1200px;

  }
}

@media(max-width: 1420px) {
  .notes-container {
    /* background-color: rgb(4, 220, 148); */
    columns: 2 220px;
    column-gap: 4em;
    width: 600px;

  }
}