.notes-container {
  margin: auto;
  width: 1400px;
  columns: 4 220px;
  column-width: 220px;

  column-gap: 2em;
  /* background-color: aquamarine; */
}
.btn-pin-note,
.btn-delete,
.btn-color {
  border: none;
  background-color: rgba(240, 248, 255, 0);
}
/* .color-pallete{
  opacity: 1;
}
.open-pallete {
  opacity: 1;
} */

.modal-color-palette {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border: 1px solid #666;
  border-radius: 10px;
  transition: all .3s;
  overflow: hidden;
  background-color: white;
  width: 500px;
  height: 100px;
}
.select-color {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid rgb(94, 92, 92);
}

.btns-section {
  display: flex;
}
.note-preview .btn-pin-note{
  display: flex;
  align-self: flex-start;
}

.note-preview .btn-pin-note,
.note-preview .btn-delete,
.note-preview .btn-color {
  opacity: 0;
  transition: opacity 0.5s;
}

.note-preview:hover .btn-pin-note,
.note-preview:hover .btn-delete,
.note-preview:hover .btn-color {
  opacity: 1;
}


@media(max-width: 1720px) {
  .notes-container {
    /* background-color: rgb(32, 109, 83); */
    columns: 3 220px;
    column-gap: 20px;
    width: 1200px;

  }
}

@media(max-width: 1420px) {
  .notes-container {
    /* background-color: rgb(4, 220, 148); */
    columns: 2 220px;
    column-gap: 4em;
    width: 600px;

  }
}