.email-list {
    padding: 40px;
    background-color: rgb(246, 238, 238);
    border-radius: 30px;
    margin-left: 60px;

}

.btn-removed, .btn-read {
    cursor: pointer;
    opacity: 0;
    font-size: 1.4rem;
    padding: 2px;
    width: 10px;
    height: 10px;
    border: none;
    border-radius: 50px;

    color: rgb(83, 72, 72);
    background-color: rgba(255, 253, 253, 0);
  
}
.btn-removed:hover , .btn-read:hover{
   background-color: rgb(168, 162, 162);
}

.email-line:hover  .btn-removed ,
.email-line:hover .btn-read{
    opacity: 1;
}

.email-line {
    
}

.email-line:hover {
    /* background-color: grey; */
    box-shadow: 10px 5px 5px 10px rgb(144, 140, 140);
}

.email-txt {
    width: 70vw;
    padding: 0.8rem;
    display: grid;
    grid-template-columns: auto;
    
   
}
table {
    /* border: 2px solid grey; */
}