.email-txt {
   width:78vw;
}

.preview.isRead {
     font-family:  roboto-regular;
     background-color: rgba(0, 0, 0, 0.026);
 }
 .preview.isStared .btn-star{
    color: rgb(255, 60, 0);
    opacity: 1;
 }
td .from{
    align-items: start;
  width: 300px;
    font-family:  roboto-bold;
}
td .subject {
    
    width: 300px;
    align-items: start;
    font-family:  roboto-bold;
}
.email-body {
    width: 800px;
    font-size: 20px;
    font-family:  roboto-regular;
    align-items: start;
}
td .email-date{
    font-family:  roboto-regular;
    text-align: end;

}
.preview.isRead .from {
    font-family:  roboto-regular;
}
.preview.isRead .subject {
    font-family:  roboto-regular;
}

.preview {
    font-size: 20px;
    font-family:  roboto-bold;
    width:79vw;
   
}