.new-to {
    border-radius: 30px;
    width: 30vw;
    margin-left: 20vw;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.new-subject {
    border-radius: 30px;
   
    width: 30vw;
    margin-left: 20vw;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}

.new-body {
    border-radius: 30px;
    width: 30vw;
    height: 500px;
    margin-left: 20vw;
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
}
.send-btn {
    border-radius: 15px;
    margin-left: 22vw;
    margin-top: 20px;
    width: 5vw;
}
.back-btn {
    border-radius: 15px;
    margin-left: 47vw;
    width: 10vw;
    margin-left: 15vw;
}